# SQL Server
SA_PASSWORD=
SQL_CONNECTION=
HANGFIRE_CONNECTION=

# Redis
REDIS_CONNECTION=
REDIS_INSTANCE_NAME=

# MongoDB
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_CONNECTION=
MONGO_DATABASE=

# JWT
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_FROM_NAME=